.Typist {
  color: black;
  font-size: 0.9em;
}
.DiaryFont {
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;
}
.emphasisFont {
  font-weight: bolder;
}
html {
    overflow: hidden ! important;
}

* {
  outline: 0
}
